@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body {
    background-image: url("./images/prism.png");
    background-repeat: repeat;
}

#title {
    font-size: 35px;
    font-family: 'Concert One', cursive;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 30px;
    text-shadow: 0px 4px black;
}

textarea {
    width: 100%;
    min-height: 50vh;
    background-color: rgba(8, 8, 8, .5);
    color: white;
    border: none;
    border: solid 4px rgb(0, 0, 0);
}

textarea:focus {
    outline: none;
}

.box {
    padding: 15px;
}

.box-header {
    font-family: 'Concert One', cursive;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-top-right-radius: 25px;
    color: rgb(255, 255, 255);
    height: 40px;
    font-size: 30px;
}

#preview {
    min-height: 80vh;
    max-width: 100%;
    background-color: white;
    border: solid 4px rgb(0, 0, 0);
    text-align: justify;
    word-wrap: break-word;
    overflow-y: scroll;
}