body {
    background-color: rgb(44, 47, 51);
}

textarea {
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    border: solid 4px rgb(91, 43, 168);
}

textarea:focus {
    outline: none;
}

.box {
    padding: 50px;
}

.box-header {
    text-align: center;
    background-color: rgb(91, 43, 168);
    border-top-right-radius: 25px;
    color: white;
    height: 40px;
    font-size: 25px;
}

#preview {
    height: 100%;
    max-width: 100%;
    background-color: white;
    border: solid 4px rgb(91, 43, 168);
    text-align: justify;
    word-wrap: break-word;
    overflow-y: scroll;
}